# LANGSMITH_TRACING=true
# LANGSMITH_ENDPOINT=https://apac.api.smith.langchain.com
# LANGSMITH_API_KEY=<your-api-key>
# LANGSMITH_PROJECT="Your Project Name"
OPENROUTER_BASE_URL = "https://openrouter.ai/api/v1"
# OPENROUTER_API_KEY=<your-openrouter-key>   #Select api key you have
# OPENAI_API_KEY=<your-openai-key>           #Select api key you have
MODEL_NAME=gpt-6-luna
PYTHONUTF8="1"