LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://apac.api.smith.langchain.com
LANGSMITH_API_KEY=<your-api-key>
LANGSMITH_PROJECT="Your Project Name"
OPENROUTER_API_KEY=<your-openrouter-key>
MODEL_NAME=openai/gpt-oss-120b
PYTHONUTF8="1"